<md-dialog aria-label="Add Field">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{formAttributes.name}} Component</h2>
    </div>
  </md-toolbar>
  <md-dialog-content layout="row">
    <div class="form-container" flex>
      <form name="addfield" novalidate>
        <div ng-cloak>
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Basic">
              <ng-include src="'components/formBuilder/views/config-templates/basic-settings.html'"></ng-include>
            </md-tab>
            <md-tab label="Data">
              <ng-include src="'components/formBuilder/views/config-templates/data-settings.html'"></ng-include>
            </md-tab>
            <md-tab label="Condition">
              <ng-include src="'components/formBuilder/views/config-templates/condition-settings.html'"></ng-include>
            </md-tab>
            <md-tab label="Validation">
              <ng-include src="'components/formBuilder/views/config-templates/validation-settings.html'"></ng-include>
            </md-tab>
          </md-tabs>
        </div>
      </form>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-raised md-primary" ng-click="addField()">Save</md-button>
  </md-dialog-actions>
</md-dialog>
